<!doctype html>
<html>
	<head>
		<script type="text/javascript" src="/javascript/javascript.js"></script>
		<script type="text/javascript" src="/javascript/jquery-3.1.1.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<title>Nueva Empresa/Aerolinea</title>
	</head>
	<body style='background-color:#F78181'>
		<form method='post'>
			<div id="newcard">
				<label style="float:left">Aerolinea</label>
				<input type="checkbox" name="emp_aer1" ><br>
				<label style="float:left">Empresa</label>
				<input type="checkbox" name="emp_aer2"><br>
				<label>Nombre</label>
				<input type="text" name="name"><br>
				<input type="submit" style="margin-right:25%">
			</div>
		</form>
	</body>
</html>