<!doctype html>
<html>
	<head>
		<script type="text/javascript" src="/javascript/javascript.js"></script>
		<script type="text/javascript" src="/javascript/jquery-3.1.1.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<title>Nueva Tarjeta</title>
	</head>
	<body style='background-color:#F78181'>
		<form method='post'>
			<div id="newcard">
				<label>Nombre</label>
				<input type="text" name="nombre_tarjeta"><br>
				<label>ID 1</label>
				<input type="text" name="id_tarjeta"><br>
				<label>ID 2</label>
				<input type="text" name="id_tarjeta2"><br>
				<input type="submit" style="margin-right:25%">
			</div>
		</form>
	</body>
</html>